$enable-responsive-font-sizes: true !default;

$dropdown-link-active-bg: #f7f7f9;
$dropdown-link-active-color: #000;

$headings-margin-bottom: 0;
$paragraph-margin-bottom: 0;

$spinner-border-width-sm: 1px;
