@import "./variables";
@import "./themes/lux/variables";

@import "./lib/bootstrap";
@import "./themes/lux/styles";
@import "./lib/bootstrap-vue";

@import "mixins";

/// Common styles
///

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > .layout-nav {
    flex: 0;
  }

  > .layout-page {
    flex: 1;
  }
}

.gtnsimon {
  &__by {
    padding: 0 0 2em 0;
    line-height: 1.35;
    text-align: center;
  }
}

/// Components styles
///

@import "./components/books-list";
@import "./components/books-suggestions-list";
@import "./components/cart-item";
@import "./components/cart-summary";
@import "./components/layout-nav";

/// Pages styles
///

@import "./pages/index";
@import "./pages/books-single";
